:root {
  --white: #ffffff;
	--white-opacity: #FFFFFFE5;
	--white-opacity-second: #FFFFFF66;
  --black: #000000;
  --light-black: #333333;
	--opacity-black: #00000070;
	--opacity-black-second: #00000080;
  --primary: #079c34;
  --primary-dark: #007a25;
  --primary-light: #fcfffa;
  --gray: #7a8690;
	--gray-light: #7A869080;
	--gray-dark: #525C76;
  --blue: #377dff;
  --light-blue: #f8fdff;
  --orange: #ff8900;
	--border: #f3f3f4;
	--border-header: #cad5df;
	--hover: #F8F8F8;
	--shadow: #e7ecf8;
	--error-color: #9C0707;
	--table-even: #F9F9FB;
	--admin-input: #EDEFF2;
	--admin-background: #F7F8FA;
	--admin-text: #57647D;
	--pop-up-bgc: #E5E5E7;
	--admin-text2: #474747;
	--border-color: #f5f6f7;
	--button-color: #6B7A99;
}